:root {
  --color-primary: #fb8500;
  --color-primary-light: #ffdc00;

  --color-bg-1: #054255;
  --color-bg-2: #080a0e;
  --color-bg-3: #051e3b;
  --color-bg-4: #051122;
  --color-bg-5: #0c0c14;

  --color-text-1: #ffffff;
  --color-text-2: #f1f1f1;
  --color-text-3: #cccccc;
}

body {
  background-color: var(--color-bg-5);
  color: var(--color-text-1);
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 2rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

p {
  max-width: 75ch;
}

@import 'components';

@import 'index/home-hero';
@import 'index/hobbies';
@import 'index/skills';
@import 'index/contact';
