.hobbies {
  padding-top: 5rem;
  &__list {
    &__item {
      overflow: hidden;
      height: 250px;
      position: relative;

      @media screen and (min-width: 768px) {
        height: 300px;
      }

      img {
        border-radius: 4px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.35s;
      }

      &:hover {
        img {
          transform: scale(1.5) rotate(22deg);
        }

        figcaption {
          opacity: 0.9;
        }

        ::before {
          content: "";
          position: absolute;
          inset: 98% 0 0 0;
          width: 100;
          height: 0.5rem;
          border-radius: 4px;
          background-color: var(--color-primary-light);
        }
      }

      figcaption {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: opacity 0.35s;
        height: 100%;
        opacity: 0;
        background-color: var(--color-bg-2);
        text-align: center;
        padding: 2rem;
        position: absolute;
        transform: translateY(-50%);
        inset: 50% 0 0 0;
        z-index: 1;

        h3 {
          color: var(--color-primary-light);
        }
      }
    }
  }
}
