.skills {
  padding-top: 5rem;

  &__container {
    border-left: solid #ffffff 0.5rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.01);
    padding: 1rem 1rem;
    border-radius: 4px;
    margin-bottom: 2rem;

    h3 {
      position: relative;
      font-weight: 700;
      text-align: center;
      margin-bottom: 1.5rem;
      z-index: 10;
    }
  }

  &__list {
    &__item {
      text-align: center;

      h3 {
        margin-top: 0.5rem;
        color: var(--color-text-3);
      }

      &__icon {
        margin-inline: auto;
        padding: 0.75rem;
        background-color: rgba(35, 46, 51, 0.274);

        img {
          display: block;
          width: 48px;
          height: 48px;
        }
      }

      &:hover h3 {
        color: var(--color-text-1);
      }

      &:hover &__icon {
        transform: scale(1.5);
        border-radius: 1.5rem;
      }

      &:hover &__icon::before {
        inset: -3rem;
      }
    }
  }
}
