:root {
  --color-primary: #fb8500;
  --color-primary-light: #ffdc00;
  --color-bg-1: #054255;
  --color-bg-2: #080a0e;
  --color-bg-3: #051e3b;
  --color-bg-4: #051122;
  --color-bg-5: #0c0c14;
  --color-text-1: #ffffff;
  --color-text-2: #f1f1f1;
  --color-text-3: #cccccc; }

body {
  max-width: 100vw;
  padding-bottom: 2rem;
  overflow-x: hidden;
  background-color: var(--color-bg-5);
  color: var(--color-text-1); }

.bg-primary {
  background-color: var(--color-primary); }

.bg-primary-light {
  background-color: var(--color-primary-light); }

p {
  max-width: 75ch; }

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1); }
  100% {
    transform: rotate(360deg) scale(0.75); } }
.trail-particle {
  z-index: 100;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: var(--color-primary-light);
  animation: spin 0.5s infinite;
  pointer-events: none; }

.navbar {
  display: flex;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-around;
  border-radius: 4px;
  background-color: var(--color-primary-light);
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
  list-style: none;
  padding-inline: 0.5rem;
  gap: 0.5rem; }
  @media screen and (min-width: 450px) {
    .navbar {
      top: 1.5rem;
      max-width: fit-content;
      margin: 0 auto;
      gap: 1.5rem; } }
  @media screen and (min-width: 769px) {
    .navbar {
      right: 1.5rem;
      left: unset;
      padding: 0.65rem 0.9rem;
      transform: none; } }
  .navbar__link {
    color: #000000;
    font-weight: 600;
    text-decoration: none; }
    .navbar__link.active, .navbar__link:hover, .navbar__link:focus, .navbar__link:focus-visible {
      background-color: #000000;
      color: var(--color-primary-light); }

.socials {
  display: none;
  z-index: 100;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  flex-direction: row;
  border-radius: 4px;
  background: var(--color-primary-light);
  color: #000000;
  list-style: none;
  gap: 1.5rem; }
  @media screen and (min-width: 769px) {
    .socials {
      display: flex;
      padding: 0.65rem 0.9rem; } }
  @media screen and (min-width: 1350px) {
    .socials {
      flex-direction: column;
      padding: 1.5rem 0.9rem; } }
  .socials__icon {
    border-radius: 4px;
    font-size: 1.4rem;
    transition: transform 0.1s ease-in-out;
    padding-inline: 0.35rem; }
    .socials__icon:hover {
      transform: scale(1.25);
      background-color: #000000;
      color: var(--color-primary-light); }
    .socials__icon a {
      color: inherit; }

.cards-group__card {
  position: relative;
  height: 375px;
  overflow: hidden; }
  @media screen and (min-width: 375px) and (max-width: 575px) {
    .cards-group__card {
      height: 300px; } }
  @media screen and (min-width: 1200px) {
    .cards-group__card {
      height: 325px; } }
  .cards-group__card::before {
    display: none;
    z-index: 100;
    position: absolute;
    background-color: var(--color-primary-light);
    content: '';
    inset: 98% 0 0 0; }
  .cards-group__card:hover::before {
    display: block; }
  .cards-group__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.35s; }
  .cards-group__card:hover img {
    transform: scale(1.5) rotate(22deg); }
  .cards-group__card figcaption {
    display: flex;
    z-index: 1;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    transform: translateY(-50%);
    background-color: var(--color-bg-2);
    text-align: center;
    opacity: 0;
    transition: opacity 0.35s;
    inset: 50% 0 0 0; }
  .cards-group__card:hover figcaption {
    opacity: 0.9; }
  .cards-group__card h3 {
    color: var(--color-primary-light);
    font-size: 2rem;
    font-weight: 700; }
  .cards-group__card p {
    font-size: 1.25rem; }
  .cards-group__card a:hover {
    color: var(--color-text-1); }
  .cards-group__card .bi {
    font-size: 2.5rem; }

.icon-ripple {
  display: block;
  position: relative;
  width: fit-content;
  border-radius: 100%;
  transition: transform 0.2s, border-radius 0.2s; }
  .icon-ripple:hover {
    transform: scale(1.25);
    border-radius: 1.5rem; }
  .icon-ripple::before {
    z-index: -10;
    position: absolute;
    border-radius: 100%;
    background-color: rgba(35, 46, 51, 0.274);
    content: '';
    transition: inset 0.2s;
    inset: 0; }
  .icon-ripple:hover::before {
    inset: -3rem; }

.home-hero {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 10rem;
  text-align: center; }
  @media screen and (min-width: 769px) {
    .home-hero {
      min-height: 80vh;
      padding-top: 18rem;
      text-align: left;
      margin-inline: auto; } }
  @media screen and (min-width: 1000px) {
    .home-hero {
      min-height: 100vh; } }
  .home-hero video {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1; }
  .home-hero p {
    max-width: 50ch;
    margin-bottom: 1.5rem;
    color: var(--color-text-2); }
  .home-hero button {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    background-color: var(--color-primary-light);
    color: var(--color-bg-5);
    font-weight: 600;
    letter-spacing: 2px; }
  .home-hero .logo {
    width: 100%;
    max-width: 18rem; }

.scroll-container {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  overflow: hidden; }
  .scroll-container .arrow {
    display: block;
    width: fit-content;
    margin-top: 2px;
    animation: moveUpDown 1s ease-in-out infinite;
    transition: transform 0.1s ease-in-out;
    margin-inline: auto; }

.scroll-indicator {
  position: relative;
  width: 2rem;
  height: 3.25rem;
  border: 3px solid white;
  border-radius: 1rem;
  margin-inline: auto; }
  .scroll-indicator::before {
    position: absolute;
    top: 0.5rem;
    right: 0;
    left: 0;
    width: 0.5rem;
    height: 1.25rem;
    border-radius: 1rem;
    background-color: var(--color-primary-light);
    content: '';
    margin-inline: auto; }

@keyframes moveUpDown {
  0% {
    transform: translateY(0.5rem); }
  50% {
    transform: translate(0rem); }
  100% {
    transform: translateY(0.5rem); } }
.hobbies {
  padding-top: 5rem; }

.container--skills {
  margin-top: 5rem; }
  .container--skills p {
    margin-bottom: 2.5rem; }

.skills-wrapper {
  margin-bottom: 3rem;
  padding: 1rem;
  overflow: hidden;
  border-left: solid #ffffff 0.5rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.01); }
  .skills-wrapper h3 {
    z-index: 10;
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center; }
  .skills-wrapper__list {
    padding-block: 0.5rem; }
    .skills-wrapper__list__item {
      text-align: center; }
      .skills-wrapper__list__item h4 {
        margin-top: 0.5rem;
        color: var(--color-text-3); }
      .skills-wrapper__list__item:hover h4 {
        color: var(--color-text-1); }
      .skills-wrapper__list__item__icon {
        padding: 0.75rem;
        background-color: rgba(35, 46, 51, 0.274);
        margin-inline: auto; }
        .skills-wrapper__list__item__icon img {
          display: block;
          width: 48px;
          height: 48px; }
      .skills-wrapper__list__item:hover .skills-wrapper__list__item__icon {
        transform: scale(1.5);
        border-radius: 1.5rem; }
        .skills-wrapper__list__item:hover .skills-wrapper__list__item__icon::before {
          inset: -3rem; }

.container--skills :nth-child(3) {
  border-color: #f7485b; }
.container--skills :nth-child(4) {
  border-color: #2cf74e; }
.container--skills :nth-child(5) {
  border-color: #2776df; }

.container--projects {
  margin-top: 5rem; }

.container--contact {
  margin-top: 5rem; }

.contact-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
  margin: 2rem auto 0;
  padding: 0.5rem;
  gap: 1rem 4rem; }
  .contact-icons__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    border-radius: 5rem;
    color: var(--color-text-3);
    font-size: 3rem;
    transition: background-color 0.2s, color 0.2s, border-radius 0.2s, transform 0.2s; }
    .contact-icons__icon:hover {
      transform: scale(1.2);
      border-radius: 2rem;
      background-color: var(--color-primary-light);
      color: var(--color-bg-5); }

/*# sourceMappingURL=style.css.map */
